.container {
  text-align: center;
}
table {
  margin: auto;
}
button {
  font-size: 2rem;
  width: 5rem;
  height: 4rem;
  border-radius: 25px;
  box-shadow: 10px;
}
input {
  border-radius: 25px;
  width: 21rem;
  font-size: 3rem;
  border: 2px solid black;
  margin-bottom: 1rem;
  margin-top: 2rem;
}
.calculator {
  display: inline-block;
  background-color: #616268;
  border-radius: 25px;
  padding: 10px 10px 10px 10px;
  padding-bottom: 2rem;
}
h1 {
  color: #616268;
}
.btn-last {
  background-color: #ed8e36;
}
